Package: com.junzai.screenshotwatermark
Name: 全局水印
Version: 1.0
Architecture: iphoneos-arm
Description: 全局截图添加水印
Maintainer: junzai
Author: junzai
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
